@font-face {
    font-family: 'jersey';
    src: url('../fonts/Jersey10-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

.back-button {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    cursor: pointer;
    border: none;
    font-weight: 500;

    background-color: #FFF7EF;
    border-right: 1px solid #F7933A;
    border-bottom: 1px solid #F7933A;
    color: #F7933A;
    padding: 5px;
}

#hamsterTickle {
    border-right: 2px solid #F7933A;
    border-radius: 5px;
    border: 1px solid #F7933A;
    color: #F7933A;
    padding: 10px;
    width: 80%;
}

#hamsterTickle:hover {
    color: #FFF7EF;
    background-color: #F7933A;
}

.back-button:hover {
    color: white;
    background-color: #F7933A;
}

.orange-background {
    border-radius: 3px;
    color: #c98308;
    padding: 10px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.comfort-message {
    padding: 5px;
    color: #F7933A;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 600;
}

h1 {
    color: #F7933A;
    font-weight: 900;
}

input,
button {
    margin: 0.5em;
}

.delete-button {
    background-color: #fc5666;
    border: none;
    border-radius: 4px;
    color: white;
}

.page {
    display: none;
}

.active {
    display: block;
}

.prompt-creation {
    background-color: #c1ffbd;
    padding: 5px;
    color: #41913c;
}

.warning {
    color: #fc5666;
}

#siteList,
#hamsterInfo {
    padding: 10px;
    border-radius: 10px;
}

#hamster {
    width: 80%;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamster-info {
    color: #c98308;
    padding: 10px;
    border-radius: 4px;
    margin-top: -6px;
}

body {
    font-family: 'jersey';
    text-align: center;
    padding: 1em;
    background-color: #D0B068;
    min-width: 202px;
    border: 3px solid #472416;
}

#taskInput {
    font-family: 'jersey';
    font-size: 17px;
    padding: 3px;
    padding-left: 5px;
    width: 80%; 
    background-color: #D0B068;
    border: 3px solid #472416;
    color: #472416;
    margin-bottom: 3px;
}

#taskInput::placeholder {
    color: #472416;
}

#gameCanvas {
    image-rendering: pixelated;
}

.todo {
    position: relative;
}

.btn {
    font-family: 'jersey';
    font-size: 17px;
    background-color: #472416;
    color: #D0B068;
    cursor: pointer;

}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #D0B068;
    border: 3px solid #472416;
    border-radius: 10px;
    margin: 15% auto;
    padding: 10px;
    width: 160px;
    text-align: center;
    height: 110px;
}

.close {
    float: right;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

#addBtn {
    margin-top: 0px;

}

#modalWarning {
    margin: 0px;
    padding: 0px;
}

#taskList {
    font-size: 15px;
    border: 2px solid #472416;
    width: 100%;
    table-layout: fixed;
    padding: 0px;
    border-collapse: separate;
    /* border-spacing: 25px 5px; */
}

#taskList td {
    vertical-align: middle;
    background-color: #dbc28a;
}


#taskList td:first-child {
    text-align: left;
    white-space: normal;
    overflow-wrap: anywhere;
    word-break: break-word;
    padding-left: 2px;
    width: 100%;
}

#taskList td:last-child {
    text-align: right;
    white-space: nowrap;
}

.scrollable-div {
    max-height: 100px;
    overflow-y: auto;
}